/** {
  border: 1px solid red;
}*/

#yielded {
  text-align: center;
}

#navbar {
  background-color: #005abc
}

#foot {
  background-color: #005abc
}

.card .card-content .card-title {
  color: black;
}

.lang-btn {
  font-size: .75em;
}

.lang-code {
  padding-top: 25px;
  padding-bottom: 0px;
}

.lang-name {
  padding-top: 0px;
  padding-bottom: -5px;
}

.learner-count {
  padding-top: 3px;
}

.copyright-footer {
  text-align: center;
}

#user-image img {
  border-radius: 50%;
}

#pair-name img {
  border-radius: 50%;
}

.outlined-text {
  color: black;
  text-shadow:
  -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
}

.collection {
  vertical-align: middle;
  width: 50%;
  margin-left: 25%;
}

/*---------------AJAX Magic Madness! Courtesy of the Great Stu----------------*/
.loading {
  width: 100%;
  min-height: 20em;
  background-color: #EEEEEE;
  display:table-cell;
  vertical-align:middle;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*-------------END AJAX Magic Madness!--------------*/

/*----------------Form Text Colors------------------*/
/* label color */
 .input-field label {
   color: black;
   text-shadow:
   -1px -1px 0 #ffffff,
   1px -1px 0 #ffffff,
   -1px 1px 0 #ffffff,
   1px 1px 0 #ffffff;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #000;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }
/*--------------END Form Text Colors----------------*/
