#yielded {
  text-align: center;
  background-image: url('../public/images/bg02.jpeg');
}

.lang-code {
  padding-top: 25px;
  padding-bottom: 0px;
}

.lang-name {
  padding-top: 0px;
  padding-bottom: -5px;
}

.learner-count {
  padding-top: 3px;
}

.copyright-footer {
  text-align: center;
}

#user-image img {
  border-radius: 50%;
}

#pair-name img {
  border-radius: 50%;
}
