#yielded {
  text-align: center;
  margin: 0;
}

.lang-code {
  padding-top: 25px;
  padding-bottom: 0px;
}

.lang-name {
  padding-top: 0px;
  padding-bottom: -5px;
}

.learner-count {
  padding-top: 3px;
}

.copyright-footer {
  text-align: center;
}

#user-image img {
  border-radius: 50%;
}

#pair-name img {
  border-radius: 50%;
}

.outlined-text {
  color: black;
  text-shadow:
  -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
}

.collection {
  vertical-align: middle;
  width: 50%;
  margin-left: 25%;
}
