<!-- The form that used to reside in '/languages/new' for creating anew language -->

<form class="col s12" action="/languages" method="post">
  <div class="row">
<% if @language.errors[:name].any? %>
    <div style="color: red;"><%= @language.errors[:name].first %></div>
<% end %>
    <div class="input-field col s12">
      <input placeholder="Name" name="name" type="text" class="validate" value="<%= @language.name %>">
      <label for="name"></label>
    </div>
  </div>

  <input class="btn" type="submit" name="action" value="Add"/>
</form>
