<h1>All Languages</h1>

<% if auth_logged_in? %>
  <div class="row">
    <a id="new-language-button" class="btn" href="/languages/new">Add a Language<a/>
  </div>
  <!-- Hidden form div for AJAX magic -->
  <div id="new-language-form-container" class="col s12" style="display: none;"></div>

<% end %>
<div id="languages">
  <% @languages.each do |language| %>
    <%= erb :'languages/_item', :layout => false, :locals => {:language => language } %>
  <% end %>
</div>
