<h2 class="outlined-text">Profile</h2>
<div class="outlined-text"><h3>Welcome, <%= @user.fullname %></h3></div>
<div id="user-image">
  <%= gravatar_tag @user.email, :size => 120 %>
</div>
<div>
  <% unless @languages.empty? %>
    <h4 class="outlined-text">Your Languages</h4>
    <div class="collection">
      <% @languages.each do |language| %>
        <a href="/languages/<%= language.id %>" class="collection-item"> <%= language.name %> </a>
      <% end %>
    </div>
  <% end %>
  <form class="col s12" action="/edit" method="get">
    <div class="row">
      <div class="input-field col s12">
        <input class="btn" type="submit" name="action" value="Edit Profile"/>
      </div>
    </div>
  </form>
</div>
