<h2 class="outlined-text">Initiate Pairing Session?</h2>

<h3 id="pair-name">Pair: &nbsp;<%= gravatar_tag @pair.email, :size => 40 %>&nbsp;<%= @pair.fullname %></h3>

<h3>Language: <%= @language.name %></h3>

<div id="placeholder-div"></div>

<script> gapi.hangout.render('placeholder-div',
                      { 'render': 'createhangout',
                        'invites': "[{id: '<%= @pair.email %>', invite_type: 'EMAIL'}]"
                      }); </script>
