<h3 class="outlined-text">About Language Pair</h3>

<h4 class="outlined-text">We believe that learning and practicing a new language should be</h4>

<ul class="outlined-text">
  <li><b>Collaborative</b></li>
  <li><b>Fun</b></li>
  <li><b>and most of all, Easy!</b></li>
</ul>
