<h2>Language Pair Home Page</h2>
<h3>Top Languages</h3>
<ul>
  <% @languages.each do |language| %>
    <li><b><%= language.name %></b></li>
  <% end %>
</ul>
<p><%= EasyTranslate.translate('Hello, world', :to => top_translate(@languages)) %><p>
