<h2 class="outlined-text">Language Pair</h2>
<h3  class="outlined-text">Top Languages</h3>
<ul>
  <% @languages.each do |language| %>
    <li class="outlined-text"><h5><b><%= language.name %></h5></b></li>
  <% end %>
</ul>
<p class="outlined-text"><%= EasyTranslate.translate('Welcome to Language Pair', :to => random_language) %><p>
