<h2>Language Pair</h2>
<h3>Top Languages</h3>
<ul>
  <% @languages.each do |language| %>
    <li><b><%= language.name %></b></li>
  <% end %>
</ul>
<!-- <p><%= EasyTranslate.translate('Welcome to Language Pair', :to => top_translate(@languages)) %><p> -->
<!-- Commented out to prevent wasted usage during development  -->
