<h2>Initiate Pairing Session?</h2>

<h3>Pair: <%= @pair.fullname %></h3>

<h3>Language: <%= @language.name %></h3>

<div id="placeholder-div"></div>

<script>
  gapi.hangout.render('placeholder-div',
                      { 'render': 'createhangout',
                        'invites': "[{id: '<%= @pair.email %>', invite_type: 'EMAIL'}]"
                      });
</script>
